<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
    <body>
        <h1>Home Page</h1>
          <h2>Welcome home, {{name}}</h2>
          {{#isAuthenticated}}
          <div class = "logout">            
          {{/isAuthenticated}}       
          {{^isAuthenticated}}
            <a href="/login">Logout</a>
          {{/isAuthenticated}}            
        </div>
          <div class ="gifs">
            <div class = "shaq">
             <img src="http://i46.tinypic.com/pniw2.gif" alt="Shaqtin' a Fool">
            </div>
        </div>
    </body>
</html>