<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Whoops! Looks like you entered the wrong credentials ... </h1>
     <p>Please re-enter your password to continue</p>
    <form class = "loggingIn" action = "/login" method = "post" >
            <input type="text" name="username" value="{{username}}" placeholder = "Username" >
            <input type="password" name="password" value="{{password}}" placeholder = "Password" >
            <input class = "addingButton" type="submit" name="submit" value="Login">
    </form>
  </body>
</html>